body
{
    margin: 0;
    color: #274483;
}

.main-section
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(240, 240, 240);
    background-color: #0063a6;
}


.section-header
{
    height: calc(100px);
    background-color: white;

}
.section-header img
{
    height: 100px;
}

.section-introduction
{
    height: 150px;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}

.signup-container
{
    background-color: white;
    overflow: scroll;
    height: calc(100vh - 100px - 150px);
    width: 100vw;
    display:grid;
    justify-items: center;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.signup-container h2
{
    color: #0063a6;
}

@media (min-width: 640px )
{
    .input-column-display
    {
        display: grid;
        grid-template-columns: 300px 300px;
    }
    .input-field-column
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .button-container-custom
    {
        padding-bottom: 10px;
        width: 100%;    
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

    }

    .button-cancel-custom-position
    {
        display: grid;
        justify-items: end;
    }

    .button-submit-custom-position
    {

        display: grid;
        justify-items: start;
    }
}

.form-label
{
    user-select: none;
}


.form-text
{
    padding-bottom: 15px;
    padding-left: 10px;
}

.button-custom-style
{   
    margin-bottom: 20px;
    width: 300px;
}
